* {
    text-align: center;
    font-family: "Arial", sans-serif;
    color: white
}

body {
    background: black;
    #ItalicText {
        font-style: italic;
    }
}

#GalaxyGif {
    width: auto;
    height: auto;
}